<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.log">

  <variable name="serviceName" value="Gateway" />
  <variable name="logLayout"
            value="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}|service=${var:serviceName}|traceId=${mdlc:item=traceId}|requestId=${mdlc:item=requestId}|url=${aspnet-request-url}|method=${aspnet-request-method}" />

  <targets>
    <target xsi:type="Console" name="console" layout="${var:logLayout}" />
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log" layout="${var:logLayout}" />

    <target xsi:type="AsyncWrapper" name="logAnalyticsAsync" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="AzureLogAnalytics"
              workspaceId="${configsetting:name=LogAnalytics:WorkspaceId}"
              sharedKey="${configsetting:name=LogAnalytics:SharedKey}"
              logType="${configsetting:name=LogAnalytics:LogType}"
              serviceName="${var:serviceName}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console,file,logAnalyticsAsync" />
  </rules>
</nlog>
