<div class="auth-page">
  <div class="auth-card">

    <h2 class="auth-title">Forgot Password</h2>

    <p class="text-muted mb-3 text-center">
      Enter your registered email address. We’ll send you a password reset link.
    </p>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="you@example.com" />
      </div>

      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>

      <button
        class="btn btn-primary w-100"
        type="submit"
        [disabled]="forgotForm.invalid || isLoading">

        {{ isLoading ? 'Sending...' : 'Send Reset Link' }}
      </button>

      <div class="auth-links mt-3">
        <a routerLink="/login">Back to Login</a>
      </div>

    </form>

  </div>
</div>
